body {
  background: url(../images/bg.jpg) no-repeat center center;
}

.container {
  position: absolute;
}

.content {
  font-family: Microsoft YaHei;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#ball {
  position: absolute;
}